.top-card-move-enter.top-card-move-enter-active {
    animation-duration: 0.3s;
    animation-name: to-top;
    animation-timing-function: ease-in-out;
}

@keyframes to-top {
    from {
        margin-left: 16px;
        margin-top: 16px;
    }

    to {
        margin-left: 32px;
        margin-top: 32px;
    }
}

.top-card-move-leave.top-card-move-leave-active {
    opacity: 1.0;
    animation-duration: 0.2s;
    animation-name: disappear;
    animation-timing-function: ease-out;
}

@keyframes disappear {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0.0;
    }
}

.middle-card-move-enter.middle-card-move-enter-active {
    animation-duration: 0.3s;
    animation-delay: 0s;
    animation-name: to-middle;
}

@keyframes to-middle {
    from {
        margin-left: 0px;
        margin-top: 0px;
    }

    to {
        margin-left: 16px;
        margin-top: 16px;
    }
}

.middle-card-move-leave.middle-card-move-leave-active {
    animation-duration: 0.2s;
    animation-delay: 0s;
    animation-name: disappear;
}

.bottom-card-move-enter.bottom-card-move-enter-active {
    animation-duration: 0.2s;
    animation-name: to-bottom;
}

@keyframes to-bottom {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.bottom-card-move-leave.bottom-card-move-leave-active {
    animation-duration: 0.01s;
    animation-name: disappear;
}
