.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}


.Card-dragging {
  width:300px;
  height:400px;
  border: 1px solid  black;
  background-color: gray;
  border-radius: 5px;
}

.Card-dragging-image {
  width: 100%;
}

.App-grid {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  grid-template-rows: 1fr 3fr 1fr;
  height: 100vh;
}

.App-grid-top {
  grid-row: 1;
  grid-column: 1 / span 99;
}

.App-grid-bottom {
  grid-row: 3;
  grid-column: 1 / span 99;
}

.App-grid-left {
  grid-row: 1 / span 99;
  grid-column: 1; 
}

.App-grid-right {
  grid-row: 1 / span 99;
  grid-column: 3;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
